IntegrationSuite/script1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EntitySet">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="Docno"/>
        <xs:element type="xs:dateTime" name="Budat"/>
        <xs:element type="xs:string" name="Tranty"/>
        <xs:element name="item_detailSet" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="docno"/>
              <xs:element type="xs:string" name="item_No"/>
              <xs:element type="xs:string" name="Adrr_Shp_to"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>